@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
.FilterModule__row {
  position: relative;
  max-width: 64em;
  margin-top: 0.3em;
  border: 1px solid #c4c4c4;
  z-index: 3;
  min-width: 33em;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.FilterModule__filter-button {
  position: relative;
  height: 2em;
  border: 1px solid #b4b4b4;
  width: 100%;
  background: transparent;
  color: #c8cc92;
  letter-spacing: 3px;
  font-size: 1em;
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.FilterModule__filter-button:hover {
  background: rgba(255, 255, 255, 0.075);
}

.FilterModule__controller {
  position: relative;
  margin: 6px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32%;
  min-width: 6em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.FilterModule__params-list {
  position: absolute;
  top: 1.8em;
  left: -2px;
  z-index: 6;
  padding: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.281);
  text-align: left;
  list-style: none;
}

.FilterModule__params-list li {
  margin: 8px 7px;
  border: 1px solid #797979;
  background: rgba(175, 175, 175, 0.075);
  text-align: center;
}

.FilterModule__params-list li:hover {
  background: rgba(255, 255, 255, 0.068);
}

.FilterModule__flex-column {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collapsed {
  display: none;
}

.expanded {
  height: auto;
  -webkit-animation: expand 0.3s ease-in;
          animation: expand 0.3s ease-in;
}

@-webkit-keyframes expand {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=FilterModule.css.map */