@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.FilterModule {
    &__row {
        // position
        position: relative;
        max-width: 64em;

        // box
        margin-top: 0.3em;
        border: 1px solid rgb(196, 196, 196);
        z-index: 3;
        min-width: 33em;
        width: auto;

        // display
        display: flex;
        justify-content: space-evenly;
    }

    &__filter-button {
        // position
        position: relative;

        // box
        height: 2em;
        border: 1px solid rgb(180, 180, 180);
        width: 100%;
        background: transparent;

        // text
        color: $colorFive;
        letter-spacing: 3px;
        font-size: 1em;
        font-family: $fontOne;

        // display
        @include flex-centered(row);

        //other
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.075);
        }
    }
    &__controller {
        // positon
        position: relative;

        // box
        margin: 6px 0px;
        box-sizing: border-box;
        width: 32%;
        min-width: 6em;

        // text
        text-align: center;

        // display
        @include flex-centered(column);

        cursor: pointer;
    }
    &__params-list {
        // positon
        position: absolute;
        top: 1.8em;
        left: -2px;
        z-index: 6;

        // box
        padding: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.281);

        // text
        text-align: left;

        // other
        list-style: none;

        li {
            margin: 8px 7px;
            border: 1px solid rgb(121, 121, 121);
            background: rgba(175, 175, 175, 0.075);
            text-align: center;
            &:hover {
                background: rgba(255, 255, 255, 0.068);
            }
        }
    }

    &__flex-column {
        height: 100%;
        width: 100%;
        @include flex-centered(column);
    }
}
.collapsed {
    display: none;
}
.expanded {
    height: auto;
    animation: expand 0.3s ease-in;
}

@keyframes expand {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.9;
        transform: translateY(1px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
