@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.FilterModule {
    &__row {
        position: relative;
        margin-top: 0.3em;
        border: 1px solid rgb(196, 196, 196);
        z-index: 3;
        display: flex;
        min-width: 33em;
        width: auto;
        justify-content: space-evenly;
        max-width: 64em;
    }

    &__filter-button {
        position: relative;
        background: transparent;
        color: $colorFive;
        height: 2em;
        border: 1px solid rgb(180, 180, 180);
        width: 100%;
        letter-spacing: 3px;
        font-size: 1em;
        font-family: $fontOne;
        @include flex-centered(row);
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.075);
        }
    }
    &__controller {
        margin: 6px 0px;
        box-sizing: border-box;
        width: 32%;
        min-width: 6em;
        text-align: center;
        position: relative;
        @include flex-centered(column);

        cursor: pointer;
    }
    &__params-list {
        position: absolute;
        list-style: none;
        text-align: left;
        top: 1.8em;
        padding: 2px;
        left: -2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.281);
        z-index: 6;

        li {
            border: 1px solid rgb(121, 121, 121);
            margin: 8px 7px;
            background: rgba(175, 175, 175, 0.075);
            text-align: center;
            &:hover {
                background: rgba(255, 255, 255, 0.068);
            }
        }
    }

    &__flex-column {
        height: 100%;
        width: 100%;
        @include flex-centered(column);
    }
}
.collapsed {
    display: none;
}
.expanded {
    height: auto;
}
